{% extends 'base.html' %}
{% load static %}

{% block meta %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap">
<link rel="stylesheet" href="{% static 'css/chat.css' %}">

{% endblock meta %}

{% block content %}

    <form id="chatForm" onsubmit="sendMessage(event)">
        {% csrf_token %}
        <div class="chat-container">
            <div id="chatBox">
                <!-- Messages will be displayed here -->
            </div>
            <div class="input-container flex mb-12">
                <textarea id="userInput" name="question" placeholder="Type your message..." 
                        class="w-full lg:max-w-96 flex-1 p-2 border-2 border-gray-300 rounded focus:outline-none focus:border-orange-500 rounded-xl resize-none" rows="1" autofocus></textarea>

                <button type="submit" class="ml-2 bg-orange-500 hover:bg-orange-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline rounded-xl">
                    Send
                </button>
            </div>
        </div>
    </form>

    <script defer src="{% static 'js/chat.js' %}"></script>

{% endblock content %}
