{% load static %}
<style>
    body, html {
        padding: 0;
        margin: 0;
        overflow-x: hidden; 
        overflow-y: hidden; 
    }
    @layer base {
      @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
  
      body {
        font-family: 'Poppins', sans-serif;
      }
    }
</style>

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0"
        />
        <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
        <script src="//unpkg.com/alpinejs" defer></script>
        <script src="https://cdn.tailwindcss.com"></script>
        {% block meta %}
        {% endblock meta %}
    </head>
    <body>
        <!-- Navbar -->
        <nav class="bg-[#f2f4f9] shadow ">
            <div class="container mx-auto px-6 py-3">
                <div class="flex items-center justify-between">
                    <div class="flex items-center">
                        <a href="#" class="pt-2 pd-0 lg:px-36">
                            <img src="https://www.heyhi.sg/img/logo_v2.png" alt="Heyhi Logo" width="150" height="50">
                        </a>
                    </div>
                    
                    <div class="flex items-center space-x-4">
                        <div class="mt-3">
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        {% block content %}
        {% endblock content %}
        
    </body>
</html>